# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        swift-version: ['5.9', '6.0']
        include:
          - swift-version: '5.9'
            xcode-version: 'Xcode_16.0.app'
          - swift-version: '6.0'
            xcode-version: 'Xcode_16.4.app'

    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
    - name: List available Xcode versions
      run: ls /Applications/ | grep Xcode
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/${{ matrix.xcode-version }}
    - name: Print Swift version
      run: swift --version
    - name: Print xcodebuild version
      run: xcodebuild -version
    - name: Skip macro validation
      run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
    - name: Run main project tests
      run: |
        xcrun xcodebuild \
          -scheme "swift-mocking" \
          -destination 'platform=macOS' \
          -derivedDataPath .derivedData \
          -enableCodeCoverage NO \
          clean test
    - name: Run Examples project tests
      run: |
        cd Examples/
        xcrun xcodebuild \
          -scheme "Examples" \
          -destination 'platform=macOS' \
          -derivedDataPath .derivedData \
          -enableCodeCoverage NO \
          clean test
